*{

margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    font-family: "source Sans Pro" , sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.banner .content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color:  rgba(0, 0, 0, 0.3);
    background-blend-mode: soft-light;
    padding: 0 100px;
    text-align: center;
    z-index: 1;

}

.banner .content h1{
    color: floralwhite;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 55px;

}
.banner .content h4{
    color: floralwhite;
    font-size: 30px;
    font-weight: normal;
    margin-top: 30px;
}
